---
import { CollectionEntry, getCollection } from "astro:content"
import readingTime, { ReadTimeResults } from "reading-time"
import BaseCol from "../../components/BaseCol.astro"
import ContentDiv from "../../components/ContentDiv.astro"
import MorePosts from "../../components/post/more-posts"
import PostDetailsHoz from "../../components/post/post-details-hoz"
import PostHeader from "../../components/post/post-header"
import PostSocialMedia from "../../components/post/post-social-media"
import PostSocialMediaVert from "../../components/post/post-social-media-vert"
import PostTags from "../../components/post/post-tags"
import ProsAndCons from "../../components/post/pros-and-cons"
import RelatedPosts from "../../components/post/related-posts"
import DefaultLayout from "../../layouts/DefaultLayout.astro"
import PostLayout from "../../layouts/PostLayout.astro"
import { getDateFromSlug } from "../../lib/slug"

export async function getStaticPaths() {
  // Get all entries from a collection. Requires the name of the collection as an argument.
  const allPosts = await getCollection("blog")

  // console.log(allBlogPosts)

  // const allPosts = await Promise.all(
  //   addHtmlToPosts(
  //     addAuthorsToPosts(
  //       await Promise.all(addExcerpts(sortPosts(getAllPosts()))),
  //       getAuthorMap()
  //     )
  //   )
  // )

  //const categoryMap = getCategoryMap(allPosts)

  let paths: any[] = []

  allPosts.forEach(post => {
    let postIndex = -1

    //   // Find index of post in sorted array so we can find
    //   // previous related posts
    //   Object.keys(categoryMap).every(category => {
    //     categoryMap[category].every((p: IPreviewPost, index: number) => {
    //       if (p.fields.slug === post.slug) {
    //         postIndex = index
    //         return false
    //       }

    //       return true
    //     })

    //     if (postIndex !== -1) {
    //       return false
    //     }

    //     return true
    //   })

    const relatedPosts = allPosts.filter(
      p => post.data.related && post.data.related.includes(p.data.title)
    )

    const readMorePosts: CollectionEntry<"blog">[] = [] //categoryMap[post.data.section].slice(postIndex + 1)

    paths.push({
      params: { slug: post.slug },
      props: {
        post,
        date: getDateFromSlug(post.slug),
        stats: readingTime(post.body),
        relatedPosts,
        readMorePosts,
      },
    })
  })

  return paths
}

interface Props {
  post: CollectionEntry<"blog">
  date: string
  stats: ReadTimeResults
  relatedPosts: CollectionEntry<"blog">[]
  readMorePosts: CollectionEntry<"blog">[]
}

const { slug } = Astro.params
const { post, date, stats, relatedPosts, readMorePosts } = Astro.props
const { Content, headings } = await post.render()
const morePosts: any[] = []
---

<DefaultLayout title={post.data.title} tab="Blog" headerMode="dark">
  <!-- <link href="/themes/prism.css" rel="stylesheet" slot="head" /> -->

  <div slot="main">
    <PostHeader post={post} client:visible />

    <ContentDiv className="my-40">
      <BaseCol className="gap-y-4 lg:gap-y-8" slot="main">
        <PostDetailsHoz post={post} date={date} stats={stats} client:visible />

        <PostSocialMedia post={post} className="lg:hidden" />

        <PostLayout>
          <PostSocialMediaVert post={post} slot="left" />

          <BaseCol tag="section" className="gap-y-8" slot="main">
            {
              post.data.type === "review" && (
                <ProsAndCons post={post} client:visible />
              )
            }

            <!-- <PostBody html={post.html} className="text-justify" /> -->

            <Content />

            <PostTags post={post} />
          </BaseCol>

          <div slot="right">
            {
              morePosts.length > 0 && (
                <MorePosts posts={morePosts} title={post.data.tags[0]} />
              )
            }
          </div>
        </PostLayout>
      </BaseCol>
      <></>
    </ContentDiv>

    {
      readMorePosts.length > 0 && (
        <ContentDiv className="py-16">
          <RelatedPosts
            posts={readMorePosts}
            title="Keep Reading"
            slot="main"
          />
        </ContentDiv>
      )
    }
  </div>

  <!-- <script src="/themes/prism.js" is:inline slot="end"></script> -->
</DefaultLayout>
