---
import BaseRow from "../../components/BaseRow.astro"
import HCenterRow from "../../components/HCenterRow.astro"
import PageTitle from "../../components/page-title"
import PostsPage from "../../components/pages/PostsPage.astro"
import AvatarImageLarge from "../../components/person/avatar-image-large"
import PostBody from "../../components/post/post-body"
import ContentLayout from "../../layouts/ContentLayout.astro"
import {
  addAuthorHtml,
  getAllAuthors,
  getAuthorMap,
} from "../../lib/api/author"
import {
  addAuthorsToPosts,
  addExcerpts,
  getAllPosts,
  getAuthorPostMap,
  sortPosts,
} from "../../lib/api/post"
import { paginate } from "../../lib/paginate"
import { getUrlFriendlyTag } from "../../lib/tags"
import { getAuthorBaseUrl } from "../../lib/urls"
import { PEOPLE_SLUG } from "../../constants"

export async function getStaticPaths() {
  const paths: any[] = []

  const authors = await Promise.all(
    getAllAuthors().map(author => addAuthorHtml(author))
  )

  const authorMap = getAuthorMap()

  const postMap = getAuthorPostMap(
    addAuthorsToPosts(
      await Promise.all(addExcerpts(sortPosts(getAllPosts()))),
      authorMap
    )
  )

  authors.forEach(author => {
    const slug = getUrlFriendlyTag(author.frontmatter.name)
    const posts = postMap[slug]

    paths.push(
      paginate(posts, slug, {
        author,
        root: getAuthorBaseUrl(author.frontmatter.name),
      })
    )
  })

  return paths
}

const { author, data, page, pages } = Astro.props
---

<ContentLayout title={author.frontmatter.name}>
  <div slot="main">
    <BaseRow className="gap-x-8">
      <div class="w-full">
        <HCenterRow className="mb-8 lg:hidden">
          <div>
            <AvatarImageLarge author={author} className="w-56" />
          </div>
        </HCenterRow>
        <PageTitle
          title={author.frontmatter.name}
          superTitle="Posts by"
          subTitle={author.frontmatter.title}
          className="text-center lg:text-left"
        />
        <PostBody html={author.html} className="mt-8" />
      </div>
      <div class="hidden lg:block">
        <AvatarImageLarge author={author} className="w-64" />
      </div>
    </BaseRow>

    <section class="mt-16 border-t border-slate-200 pt-16">
      <PostsPage
        posts={data}
        page={page}
        pages={pages}
        root={`${PEOPLE_SLUG}/${author.slug}`}
      />
    </section>
  </div>
</ContentLayout>
