---
import BaseCol from "../components/base-col"
import BaseRow from "../components/base-row"

import BlueLink from "../components/link/blue-link"
import { SITE_NAME, UPDATED, VERSION, YEAR } from "../constants"
import LogoIcon from "../icons/logo-icon-small"
import ContentLayout from "../layouts/ContentLayout.astro"

const CLS = "block rounded-lg px-4 py-2 bg-blue-100 font-bold"
---

<ContentLayout title="Help">
  <div slot="main">
    <BaseCol className="gap-y-4 rounded-xl bg-apple-gray p-6 w-full lg:w-1/2">
      <BaseRow><LogoIcon /></BaseRow>

      <div class="text-sm">
        <p>{`Version ${VERSION}`}</p>
        <p>{`Updated ${UPDATED}`}</p>
      </div>

      <p class="text-sm">
        &copy; {YEAR}
        {SITE_NAME}. All rights reserved.
      </p>
    </BaseCol>

    <div class="mt-16 text-sm">
      <p>
        This website is made possible by open source software and other
        services:
      </p>

      <ul class="mt-4 flex w-full flex-col gap-y-2 text-sm lg:w-1/2">
        <li class={CLS}>
          <BlueLink
            href="https://astro.build/"
            ariaLabel="View tool"
            underline={true}
          >
            Astro
          </BlueLink>
        </li>
        <li class={CLS}>
          <BlueLink
            href="https://preactjs.com/"
            ariaLabel="View tool"
            underline={true}
          >
            Preact
          </BlueLink>
        </li>
        <li class={CLS}>
          <BlueLink
            href="https://tailwindcss.com/"
            ariaLabel="View tool"
            underline={true}
          >
            Tailwind
          </BlueLink>
        </li>
        {
          /* <li class={CLS}>
            <BlueLink href="https://www.w3.org/html" ariaLabel="View tool">
              HTML5
            </BlueLink>
          </li> */
        }
        <li class={CLS}>
          <BlueLink
            href="https://www.npmjs.com"
            ariaLabel="View tool"
            underline={true}
          >
            NPM
          </BlueLink>
        </li>
        <li class={CLS}>
          <BlueLink
            href="https://nodejs.org/"
            ariaLabel="View tool"
            underline={true}
          >
            Node.js
          </BlueLink>
        </li>
        <li class={CLS}>
          <BlueLink
            href="https://github.com"
            ariaLabel="View tool"
            underline={true}
          >
            GitHub
          </BlueLink>
        </li>
        <li class={CLS}>
          <BlueLink
            href="https://code.visualstudio.com"
            ariaLabel="View tool"
            underline={true}
          >
            Visual Studio Code
          </BlueLink>
        </li>

        {
          /* <li class={CLS}>
            <BlueLink href="https://www.cloudflare.com/">Cloudflare</BlueLink>
          </li> */
        }
      </ul>
    </div>
  </div>
</ContentLayout>
