---
import education from "../../_content/education.json"
import jobs from "../../_content/jobs.json"
import skills from "../../_content/skills.json"
import volunteer from "../../_content/volunteer.json"
import ContentLayout from "../layouts/ContentLayout.astro"
import cn from "../lib/class-names"

const skillList: any[] = []

skills.map((skillset: any, skillSetIndex: number) => {
  skillset.skills
    .sort((a: { name: string }, b: { name: string }) =>
      a.name.localeCompare(b.name)
    )
    .map((skill: any, skillIndex: number) => {
      skillList.push(skill)
    })
})
---

<ContentLayout title="Resume" tab="Resume">
  <div slot="main" class="mb-32 flex flex-col gap-y-32">
    <div>
      <h2 class="text-center text-5xl font-bold">Skills</h2>

      <ul
        class="mt-16 grid grid-cols-1 gap-x-4 gap-y-4 text-sm md:grid-cols-3 xl:grid-cols-5"
      >
        {
          skillList.map((skill, index) => {
            return (
              <li
                class={cn(
                  "trans-300 transition-color rounded-lg bg-gradient-to-br px-4 py-8 text-white",
                  [
                    index % 2 == 0,
                    "bg-fuchsia-400 hover:bg-fuchsia-500",
                    "bg-violet-400 hover:bg-violet-500",
                  ]
                )}
              >
                <h3 class="font-bold">{skill.name}</h3>
                <p>{skill.details.sort().join(", ")}</p>
              </li>
            )
          })
        }
      </ul>
    </div>

    <div>
      <h2 class="text-center text-5xl font-bold">Experience</h2>
      <ul class="mt-16 flex flex-col gap-y-8">
        {
          jobs.map((job, jobIndex) => (
            <li>
              <article class="grid grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-4">
                <header class="mt-4">
                  <h3 class="font-bold">{job.title}</h3>
                  <h4 class="mt-1 text-sm font-normal text-slate-500">
                    {job.company}
                  </h4>
                  <h4 class="text-sm font-normal text-slate-500">{job.date}</h4>
                </header>
                <div class="trans-300 transition-color col-span-3 rounded-2xl bg-slate-100 p-6 hover:bg-slate-200 dark:bg-white/10  lg:p-10">
                  <p>{job.overview}</p>
                  <ul class="ml-6 mt-4 flex list-disc flex-col gap-y-2">
                    {job.details.map((detail, detailIndex) => (
                      <li>{detail}</li>
                    ))}
                  </ul>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>

    <div>
      <h2 class="text-center text-5xl font-bold">Volunteer Work</h2>
      <ul class="mt-16 flex flex-col gap-y-8">
        {
          volunteer.map((job, jobIndex) => (
            <li>
              <article class="grid grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-4">
                <header class="mt-4">
                  <h3 class="font-bold">{job.title}</h3>
                  <h4 class="mt-1 text-sm font-normal text-slate-500">
                    {job.company}
                  </h4>
                  <h4 class="text-sm font-normal text-slate-500">{job.date}</h4>
                </header>
                <div class="trans-300 transition-color col-span-3 rounded-2xl bg-slate-100 p-8 hover:bg-slate-200 dark:bg-white/10">
                  <ul class="ml-6 flex list-disc flex-col gap-y-2">
                    {job.details.map((detail, detailIndex) => (
                      <li>{detail}</li>
                    ))}
                  </ul>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>

    <div>
      <h2 class="text-center text-5xl font-bold">Education</h2>

      <ul class="mt-16 flex flex-col gap-y-4">
        {
          education.map((degree, degreeIndex) => (
            <li>
              <article class="grid grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-4">
                <div />
                <div class="trans-300 transition-color col-span-3 h-full w-full rounded-2xl border border-slate-200 px-8 py-12 hover:border-blue-400">
                  <header>
                    <h3 class="text-xl font-bold">{degree.title}</h3>
                    {/* {degree.date !== '' && (
      <h3 class="degree-date">{degree.date}</h3>
      )} */}
                    <h4 class="font-light">{degree.school}</h4>
                  </header>

                  <ul class="mt-2 text-sm text-slate-500">
                    {degree.details.map((detail, detailIndex) => (
                      <li>{detail}</li>
                    ))}
                  </ul>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</ContentLayout>
