---
import { GITHUB_URL, SITE_NAME } from "../constants"
import GitHubIcon from "../icons/github"
import RssIcon from "../icons/rss"
import getCopyright from "../lib/copyright"
import { INFO_LINKS } from "../menus"
import ContentDiv from "./ContentDiv.astro"
import BaseLink from "./link/base-link"
import ExtLink from "./link/ext-link"
import ThemeToggle from "./theme-toggle"
---

<footer class="pt-32 pb-16">
  <ContentDiv>
    <ul
      class="flex flex-row justify-center gap-x-8 border-t border-slate-200 pt-16 text-sm font-semibold dark:border-white/20"
      slot="main"
    >
      <li>
        &copy; <script type="text/javascript">
          document.write(new Date().getFullYear())
        </script>
        {SITE_NAME}
      </li>
    </ul>
  </ContentDiv>

  <ContentDiv className="pt-8">
    <ul
      class="flex flex-row items-center justify-center gap-y-4 gap-x-4 text-xs"
      slot="main"
    >
      <li>
        <ExtLink href={GITHUB_URL} ariaLabel="View my GitHub profile">
          <GitHubIcon className="w-5 dark:fill-white" />
        </ExtLink>
      </li><li>
        <ExtLink href="/rss.xml" ariaLabel="View RSS feed">
          <RssIcon className="w-5 fill-orange-500" />
        </ExtLink>
      </li>
    </ul>
  </ContentDiv>

  <ContentDiv className="pt-8">
    <ul
      class="flex flex-row items-center justify-center gap-y-4 gap-x-4 text-xs"
      slot="main"
    >
      {
        INFO_LINKS.map((link: { name: string; url: string }, index: number) => (
          <li>
            <BaseLink
              href={link.url}
              ariaLabel={`View ${link.name}`}
              underline={true}
            >
              {link.name}
            </BaseLink>
          </li>
        ))
      }
      <li><ThemeToggle client:load /></li>
    </ul>
  </ContentDiv>
</footer>
