---
import Breadcrumb from "../components/breadcrumb"
import ContentDiv from "../components/ContentDiv.astro"
import PageTitle from "../components/page-title"
import type ICrumbProps from "../interfaces/crumb-props"
import type ILayoutProps from "../interfaces/layout-props"
import createCrumbs from "../lib/create-crumbs"
import DefaultLayout from "./DefaultLayout.astro"

export interface Props extends ILayoutProps, ICrumbProps {}

let {
  title,
  showTitle = false,
  showCrumbs = true,
  superTitle,
  subTitle,
  headerMode = "light",
  tab,
  crumbs,
} = Astro.props

if (!crumbs) {
  crumbs = createCrumbs(Astro.url.pathname)
}
---

<DefaultLayout title={title} tab={tab} headerMode={headerMode}>
  <div slot="main">
    {
      showCrumbs && (
        <Breadcrumb
          crumbs={crumbs}
          slot="main"
          headerMode={headerMode}
          client:visible
        />
      )
    }
    {
      showTitle && (
        <ContentDiv className="py-2">
          <PageTitle
            title={title}
            subTitle={subTitle}
            superTitle={superTitle}
            slot="main"
          />
        </ContentDiv>
      )
    }
    <ContentDiv className="pt-4">
      <slot name="main" slot="main" />
    </ContentDiv>
  </div>
</DefaultLayout>
