---
import Header from "../components/header/header"
import type ILayoutProps from "../interfaces/layout-props"
import cn from "../lib/class-names"
import BaseLayout from "./BaseLayout.astro"

export interface Props extends ILayoutProps {
  headerMode?: string
  navLightBg?: string
}

let {
  title,
  tab,
  headerMode = "light",
  navLightBg = "bg-white",
  className,
} = Astro.props

if (!tab) {
  tab = title
}
---

<BaseLayout title={title}>
  <Header
    title={title}
    tab={tab}
    headerMode={headerMode}
    navLightBg={navLightBg}
    client:load
  />

  <main class={cn("w-full min-h-screen", className)}>
    <slot name="main" />
  </main>
</BaseLayout>
